/* Developer Card Styling */

.devText {
    margin-left: 180px;
    color: white;
}

.devCard {
    background: #fff;
    border-radius: 2px;
    height: 235px;
    margin: 1rem;
    /* margin-right: 0px; */
    position: relative;
    width: 180px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
    padding: 0px;
    float: left;
  }

.devCard > .img-container {
    height: 50%;
    /* overflow: hidden; */
    text-align: center;
    /* background: purple; */
    background: linear-gradient(to bottom right, rgb(203, 3, 203), blue);
  }

.devCard > .img-container > img {
    width: 40%;
  }

#devCardImg {
    width: 130px;
    height: 130px;
    border: rgb(225, 206, 206);
    border-style: groove;
    border-width: 7px;
    border-radius: 50%;
  }
  
.devCard > .devContent {
    padding-left: 0rem;
    padding-right: 0rem;
    font-size: 12px;
    text-align: center;
  }
  
.devCard > .devContent > ul {
    list-style-type: none;
    padding: 0px;
  }
  
.devCard > .devContent > ul > li {
    margin-top: 0px;
    font-family: Roboto, sans-serif;
  }

.devContent {
    margin-top: 15px;
}
  
.fa-linkedin {
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 5px;
    margin-left: 10px;
  }

.fa-github {
  padding: 5px;
  }




  