/* Profile Page Styling */

.userInfoContainer {
    background: linear-gradient(to top, #e6a8f8, #c173d0);
    box-shadow: 0 2px 4px 0 rgba(38, 47, 42, 1.0), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;
    padding: 7%;
}

/* Previous Styling */
.userContainer {
    background: linear-gradient(to bottom right, #e6a8f8, #a347af);
    border-radius: 2%;
    padding: 30px;
    margin : 30px;
}

.userTitle {
    width: 100%;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    color: black;
    background-color: rgb(252, 250, 132);
    display: block;
    box-shadow: 0 2px 4px 0 #262f2a, 0 6px 15px 0 rgba(0, 0, 0, 0.19);
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    box-shadow: 3px 3px #262f2a;
    border-radius: 4px;
}

